div.headshot    {
    background-image: url('../../images/headshot.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: auto;
}

img {
    src: '../../images/headshot.png';
    height: 100px;
    width: auto;
}