div.about-me    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img.headshot    {
    width:20vw;
    height:20vw;
}

img {
    src: '../../images/headshot.png';
    height: 100px;
    width: auto;
}

p.about-body    {
    margin:15px;
    padding:15px;
    border-radius: 20px;
    border: var(--border);
}

@media screen and (min-width: 800px) {
    div.headshot    {
        height:350px;
        width:350px;
    }
}

