.circular {
  border-radius: 50%;
}

h3  {
  margin-top: 100px;
  width:100%;
}

div.projectContainer  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div.projectItem {
  margin-top: 20px;
  width: 300px;
  height:300px;
  background-size: 300px 300px;
  border-radius: 30%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h4  {
    display:none;
  }
  h4:hover  {
    display: inline;
    font-weight: 500;
    font-size:30px;
    color:white;
  }
}

div.projectItem:hover {
  opacity: 70%;
}

div.links {
  width:80%;
  display:flex;
  justify-content: flex-end;
}

