div.intro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

section {
  position: fixed;
  z-index: 0;
}

/* TODO: the height disappears in full-screen */
span.mountain-background {
  /* image is square */
  width: 100vw;
  height: 100vw;
  margin: 0px;
  background-size: 100vw auto;
  background-image: url("../../images/background/mountains.png");
  background-repeat: no-repeat;
  z-index: 10;
}

h1  {
  text-align: center;
}

h1.intro {
  font-family: var(--title-font);
  font-weight: 200;
  font-size: 25px;
}

h1.tagline  {
  font-family: var(--body-font);
  font-weight: 200;
  font-size: 10px;
}

.carat {
  // left:45vw;
  height:30px;
}

@media screen and  (max-width: 1000px){
  h1.intro  {
    width: 100vw;
  }
  h1.tagline  {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  h1.intro  {
    font-size: 2rem;
  }
  h1.tagline  {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  h1.intro  {
    font-size: 5rem;
  }
  h1.tagline  {
    font-size: 3rem;
  }
}