@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@200;900&display=swap');
* {
  --title-font: 'Monoton', cursive;;
  --body-font: 'Raleway', sans-serif;
  --light-grey: #CCD3D4;
  --medium-grey: #AFADB2;
  --yellow: #FED93F;
  --red: #7E3B3A;
}

h2, h3, h4, p {
  font-family: var(--body-font);
  font-weight: 200;
}

/* TODO: the height disappears in full-screen */
div.mountain-background {
  width:100vw;
  /* TODO: fix this hacky shit */
  height:20%;
  margin:0px;
  background-size: 100vw auto;
  background-image: url('./images/background/mountains.png');
  background-repeat: no-repeat;
  z-index:1;
}

/* TODO: title needs to hide behind mountains/background after scrolling */
h1.intro  {
  font-family: var(--title-font);
  font-size: 25px;
  position: fixed;
  z-index: 0;
}

div.black-background  {
  margin:0px;
  background-color: black;
}

header.Header  {
  top:0px;
  margin:0px;
  width: 100%;
}

