@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@200;900&display=swap');

* {
  --title-font: 'Monoton', cursive;;
  --body-font: 'Raleway', sans-serif;
  --light-grey: #CCD3D4;
  --medium-grey: #AFADB2;
  --orange: rgb(255, 157, 0);
  --yellow: #FED93F;
  --red: #7E3B3A;
  --border: 2px dotted var(--light-grey);
}

ul  {
  padding:0px;
}

h2, h3, h4, p, li {
  font-family: var(--body-font);
  font-weight: 200;
  color:var(--medium-grey);
  text-align: center;
}

h3 {
  font-weight: 500px;
  font-size: 30px;
}

main.sections  {
  background-color: black;
  width:100%;
  margin:0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
	scrollbar-width: none;	 //for firefox
	&::-webkit-scrollbar	{ display: none; } //for chrome
	scroll-behavior: smooth;


  > * {
    min-height: 100vh;
    width:90%;
    z-index: inherit;
  }
}

span.line-break {
  height:1px;
  width:80%;
  background-color: var(--light-grey);
}

@media screen and (min-width: 800px){
  h2, h3, h4, p, span, li, a  {
    font-size: 1.5rem;
  }
}