@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@200;900&display=swap');
* {
  --title-font: 'Monoton', cursive;;
  --body-font: 'Raleway', sans-serif;
  --light-grey: #CCD3D4;
  --medium-grey: #AFADB2;
  --yellow: #FED93F;
  --red: #7E3B3A;
}

h2, h3, h4, p, li {
  font-family: var(--body-font);
  font-weight: 200;
  color:var(--medium-grey);
  text-align: center;
}

ul  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
}

li  {
  list-style-type: none;
}

div.intro-card  {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

/* TODO: the height disappears in full-screen */
div.mountain-background {
  /* image is square */
  width:100vw;
  height:100vw;
  margin:0px;
  background-size: 100vw auto;
  background-image: url('./images/background/mountains.png');
  background-repeat: no-repeat;
  z-index:10;
}

/* TODO: title needs to hide behind mountains/background after scrolling */
h1.intro  {
  font-family: var(--title-font);
  font-weight: 200;
  font-size: 25px;
  position: fixed;
  z-index: 0;
}

/* div.black-background  {
  margin:0px;
  background-color: black;
} */

header.Header  {
  /* top:0px; */
  margin:0px;
  width: 100%;
  z-index: 10;
  background-color: black;
}

main  {
  background-color: black;
  height: 100%;
  width:100%;
  margin:0px;
  z-index: 10;
}

div.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form  {
  width:80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input  {
  background-color: var(--medium-grey);
  font-family: var(--body-font);
}

/* form button {
  height
} */

footer.Footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--medium-grey);
  /* maybe make background slightly transparent? */
}

footer p  {
  color: var(--red)
}


.circular {
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  h1.intro  {
    font-size: 2rem;
  }
}

@media screen and (min-width: 800px) {
  h1.intro  {
    font-size: 5rem;
  }
}